body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

.f-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(210, 220, 220);
    margin-top: 500px;

}

.f-info-social,
.f-info-links,
.f-info-brand {
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.f-info-social i {
    margin-right: 1rem;
}

.f-info-links a {
    text-decoration: none;
    color: black;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Index */

.card {
    border: none;
}

.card-img-top {
    object-fit: cover;
}

.card-body {
    padding: 0;
}

/* Card Effects */
.card-img-overlay:hover {
    background-color: white;
    opacity: 0.2;
    cursor: pointer;

}

/* MAP */
#map {
    height: 400px;
    width: 80vh;
}
/* Search */

#search_bar input{
    width: 150px;
    margin-right: 20px;
    border-radius: 20px;
}
#search_bar button{
    background-color: #dc3545;
    border-radius: 20px;
    color: white;
    border: none;
}
#search_bar button:hover{
    background-color: white;
    color: black;
}
#search_bar button:active{
    background-color: #dc3545;
}

#mobile_search_bar{
    display: none;
}
@media screen and (max-width: 480px) {
    #mobile_search_bar{
        display: inline !important;
    }
    #mobile_search_bar input{
        width: 100px;
        margin-right: 20px;
        border-radius: 20px;
    }
    #mobile_search_bar button{
        background-color: #dc3545;
        border-radius: 20px;
        color: white;
        border: none;
    }
    #mobile_search_bar button:hover{
        background-color: white;
        color: black;
    }
 
 }
 @media screen and (max-width: 480px) {
    #search_bar{
        display: none !important;
    }
}